<table class="default">
  <thead>
    <tr>
      <th>Player1</th>
      <th>Player2</th>
      <th>Result</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor = "let result of resultsTable">
      {{result.player1Move}}
      {{result.player2Move}}
      {{result.result}}
    </tr>
  </tbody>
</table>

<button (click) = 'play()'>PLAY</button>
<button (click) = 'restart()'>RESTART</button>

<table>
  <thead>
  <tr>
    <th>Player1 Wins</th>
    <th>Player2 Wins</th>
    <th>TotalDraws</th>
    <th>RoundsPlayed</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    {{roundHistory.player1Wins}}
    {{roundHistory.player2Wins}}
    {{roundHistory.totalDraws}}
    {{roundHistory.roundsPlayed}}
  </tr>
  </tbody>
</table>
