
table {
  table-layout: fixed;
  width: 700px;
  border: 1px solid black;
}

button {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 50px;
}

th, td {
  padding: 10px;
}

tr {
  width: 30%;
}

tbody td {
  text-align: center;
}
