<table class="default">
  <thead>
    <tr>
      <th>Player1</th>
      <th>Player2</th>
      <th>Result</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor = "let result of resultsTable">
      <td>{{result.player1Move}}</td>
      <td>{{result.player2Move}}</td>
      <td>{{result.result}}</td>
    </tr>
  </tbody>
</table>

<button (click) = 'play()'>PLAY</button>
<button (click) = 'restart()'>RESTART</button>

<table>
  <thead>
  <tr>
    <th>Player1 Wins</th>
    <th>Player2 Wins</th>
    <th>TotalDraws</th>
    <th>RoundsPlayed</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>{{roundHistory.player1Wins}}</td>
    <td>{{roundHistory.player2Wins}}</td>
    <td>{{roundHistory.totalDraws}}</td>
    <td>{{roundHistory.roundsPlayed}}</td>
  </tr>
  </tbody>
</table>
